.login {
  height: 100vh;
  width: 100%;
  background-color: #212529;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-form {
  background-color: rgba(0, 0, 0, 0.364);
  border-style: solid;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  /* border-color: rgb(0, 0, 0); */
  border-width: 1px;
  border-radius: 20px;
  height: 780px;
  width: 500px;
  padding: 50px;
  margin-top: 30px;
}
.logo-coachub {
  width: 20%;
}
input {
  background-color: transparent;
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  color: white;
}
.select {
  background-color: transparent;
  border-style: solid;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  color: white;
}
input:hover {
  border-style: solid;
  border-color: #feeb15;
}

.select:hover {
  border-style: solid;
  border-color: #feeb15;
}
input:focus {
  border: none;

  background-color: #feeb1564;
}
.select:focus {
  border: none;

  background-color: #212529;
}
.input {
  margin-top: 5px;
}
.login-button {
  height: 40px;
  width: 400px;
  background-color: #feeb15;
  color: #212529;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-button:hover {
  cursor: pointer;
  border-color: #feeb15;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
  color: #feeb15;
  border-radius: 5px;
}

.Forget-password {
  color: #feeb15;
  margin-top: 50px;
  font-family: "Ubuntu", sans-serif;
}
.socialmedia {
  /* border-color: #feeb15;
  border-style: solid; */
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}
.ligne {
  height: 1px;
  color: beige;
}

.linkedin-login {
  width: 7%;
  color: aliceblue;
  margin-left: 10px;
}
.linkedin-login:hover {
  width: 10%;
  cursor: pointer;
}
.github-login {
  width: 10%;
  margin-left: 10px;
}
.github-login:hover {
  width: 12%;
  cursor: pointer;
}

.email-login {
  width: 8%;
}
.email-login:hover {
  width: 10%;
  cursor: pointer;
}
